:root {
  --Main: rgb(6,71,137);
  --Accent_1: rgba(66,122,161,0.1);
  --Accent_2: rgba(235,242,250,0.1);
  --Shadow: rgba(0,0,0,0.1);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  color: white;
}

.main-container {
  display: flex;
}

.error-message {
  text-align: center;
  height: 10vh;
  width: 50vw;
  font-size: xx-large;
}

/* Header styling */
/* ------------------------------------------- */
header {
  position: relative;
  height: 15vh;
  background-color: var(--Main);
}
.title {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  position: absolute;
  left: 20vw;
  top: 50%;
  transform: translateY(-50%);
}

input {
  width: 70vw;
  height: 3vh;
  text-align: center;
  outline: none;
}

.magnifying-glass {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

button {
  background-color: white;
  height: 3.5vh;
  width: 3vw;
}

option {
  background-color: white;
}

/* Side Styling */
/* ---------------------------------------- */

.side-bar {
  background-color: var(--Main);
  width: 20vw;
  height: 100vh;
}

.side-panel {
  background-color: var(--Accent_1);
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 2px 5px var(--Shadow);
  transition: 500ms;
}

.side-panel:hover {
  height: 15vh;
  transition: 500ms;
}

/* Body Styling */
/* ------------------------------------- */
img {
  width: 5rem;
}

.sub-title {
  font-size: x-large;
  padding: 1rem;
}

.main-section {
  position: relative;
  background-color: var(--Main);
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-panel {
  background-color: var(--Accent_1);
  min-height: 90vh;
  width: 75vw;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 2px 5px var(--Shadow);
  position: relative;
}

.city-title {
  text-align: center;
  font-size: xx-large;
}

.weather-title {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding-left: 2rem;
  padding-top: 1rem;
}

.title-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.weather-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 1rem;
  background-color: var(--Accent_2);
  height: 15vh;
  width: 65vw;
  border-radius: 2rem;
}

.weather-title .weather-box {
  gap: 0.1rem;
  text-align: left;
}

.weather-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.city-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--Accent_2);
  min-height: 30vh;
  width: 65vw;
  border-radius: 2rem;
  margin: 1rem;
}