:root {
  --header: #151515;
  --panel: #2a2a2a;
  --side: #3f3f3f;
  --body: #575757;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

.main-container {
  display: flex;
}

/* Header styling */
/* ------------------------------------------- */
header {
  position: relative;
  height: 15vh;
  background-color: var(--header);
}
.title {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  position: absolute;
  left: 20vw;
  top: 50%;
  transform: translateY(-50%);
}

input {
  width: 70vw;
  height: 3vh;
  text-align: center;
  outline: none;
}

.magnifying-glass {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

button {
  background-color: white;
  height: 3.5vh;
  width: 3vw;
}

option {
  background-color: white;
}

/* Side Styling */
/* ---------------------------------------- */

.side-bar {
  background-color: var(--side);
  width: 20vw;
  height: 85vh;
}

.side-panel {
  background-color: var(--panel);
  width: 20vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  transition: 500ms;
}

.side-panel:hover {
  height: 15vh;
  transition: 500ms;
}

/* Body Styling */
/* ------------------------------------- */

.main-section {
  position: relative;
  background-color: var(--body);
  width: 80vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-panel {
  background-color: var(--panel);
  height: 80vh;
  width: 75vw;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.city-title {
  text-align: center;
  font-size: xx-large;
}

.weather-panel {
  background-color: white;
  height: 15vh;
  width: 65vw;
  border-radius: 2rem;
}

.city-panel {
  background-color: white;
  height: 40vh;
  width: 65vw;
  border-radius: 2rem;
}